<p>
  <strong>Username:</strong>
  <%= best_in_place user, :username %> -edit
</p>
<p>
  <strong>Avatar:</strong>
  <%= best_in_place user, :image_src %> -edit
</p>
<p>
  <strong>Bio:</strong>
  <%= best_in_place user, :bio %> -edit
</p>
