<%= render partial: 'user_info', locals: {user: @user} %>

Following:

<% @user.following.each do |follower| %>
  <li>
    <%= image_tag "#{follower.avatar.url(:post)}" %>
    <%= link_to "#{follower.username}", follower %>
  </li>
<% end %>
