<section class="col-md-7 col-sm-12 col-md-offset-5 main-content">
  <div id="posts" class="home-page-posts animated fadeIn ">
    <% if @users.any? %>
        <%= render @users %>
    <% else %>
      <div class="post-preview col-xs-10  no-gutter">
        <p class="user">
          Sooooorrrrry. No matches found!
        </p>
      </div>
    <% end %>
  </div>
</section>
<!-- main content -->
