<% if @users.length > 0 %>
   <% @users.each do |user| %>
     <p>
       <strong>User:</strong>
       <%= (link_to "#{user.username}", user_path(user)) %>
     </p>
     <p>
       <strong>Posts:</strong>
       <%= user.posts.last.body if user.posts.last %>
     </p>
   <% end %>
 <% else %>
   <%= "#sorrynotsorry, no matches found." %>
 <% end %>
