<% if current_user == @user %>
  <%= render partial: 'private', locals: { user: @user } %>
<% else %>
  <%= render partial: 'public',  locals: { user: @user } %>
<% end %>

<table id="posts"><%= render @posts.sort_by(&:created_at).reverse %></table>

<%= will_paginate @posts, previous_label: h("<"), next_label: h(">") %>
