<div class="suggested_followers">
  <ul>
    <% current_user.suggestions.top(3).each do |suggested_user| %>
      <li class="suggested_followers">
        <%= image_tag "#{suggested_user.avatar.url(:post)}", class: "suggested-icon" %>
        <%= link_to "#{suggested_user.username}", suggested_user, class: "" %>
      </li>
    <% end %>
  </ul>
</div>
