<%= subscribe_to '/live-feed' %>

<h2 id="title">Hi <%= current_user.username %></h2>

<%= render 'form' if user_signed_in? %>

<table id="posts"><%= render @posts.sort_by(&:created_at).reverse %></table>
