<%= subscribe_to '/live-feed' %>

<h1 id="title">Magic Pokémon Stuff?!</h1>

<%= render 'sessions/status' %>

<%= render 'form' %>

<table id="posts"><%= render @posts.sort_by(&:created_at).reverse %></table>
