@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "main";


.tt-hint {
    width: 150px;
    height: 30px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 30px;
    border: 2px solid black;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    width: 300px;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.form-control{
  width: 300px;
}

.btn-primary {
  background-color: black;
  border: 0px;
}

.pagination {
 background: white;
 cursor: default;
/* self-clearing method: */
}

.pagination a, .pagination span, .pagination em {
 padding: 0.2em 0.5em;
 display: block;
 float: left;
 margin-right: 1px;
}

.pagination .disabled {
color: #999999;
border: 1px solid #dddddd;
}

.pagination .current {
font-style: normal;
font-weight: bold;
background: #2e6ab1;
color: white;
border: 1px solid #2e6ab1;
}

.pagination a {
text-decoration: none;
color: #105cb6;
border: 1px solid #9aafe5;
}
.pagination a:hover, .pagination a:focus {
color: #000033;
border-color: #000033;
}

.pagination .page_info {
background: #2e6ab1;
color: white;
padding: 0.4em 0.6em;
width: 22em;
margin-bottom: 0.3em;
text-align: center;
}

.pagination .page_info b {
color: #000033;
background: #6aa6ed;
padding: 0.1em 0.25em;
}

.pagination:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

* html .pagination {
height: 1%;
}

*:first-child + html .pagination {
overflow: hidden;
}

.suggested-icon {
  height: 40px;
  width: 40px;
  margin: 0 10px 0 10px;
  border-radius: 100%;
}

.post .post-preview p.meta {
  font-size: 14px;
  font-size: 1.4rem;
}

.post .post-preview p {
  margin-bottom: 0;
}

.article {
  padding: 15px 0;
}

.best_in_place {
  font-weight: 100;
  color: #333337;
  border: solid 0px transparent;
}

.best_in_place:hover, .best_in_place:active {
  cursor: pointer;
  box-shadow: none;
  border-bottom: solid 3px;
  border-radius: 0;
  padding: 5px 0;
  background-color: #fff;
  resize: vertical;
}

.best_in_place:focus {
  outline: none;
}

input:focus {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

a.pokeball-switch {
  text-decoration: none;
  cursor: pointer;
}

a.pokeball-switch:hover {
  text-decoration: none;
}

img#user-pic {
  border-radius: 100%;
}

#create-post {
  margin: 0;
}

#post_body {
  padding: 10px 0;
}
