/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 .tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
 .tt-hint {
     width: 150px;
     height: 30px;
     padding: 8px 12px;
     font-size: 14px;
     line-height: 30px;
     border: 2px solid black;
     border-radius: 8px;
     outline: none;
 }

 .tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 }

 .tt-hint {
     color: #999;
 }

 .tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
     margin-top: 12px;
     padding: 8px 0;
     background-color: #fff;
     border: 1px solid #ccc;
     border: 1px solid rgba(0, 0, 0, 0.2);
     border-radius: 8px;
     box-shadow: 0 5px 10px rgba(0,0,0,.2);
     width: 300px;
 }

 .tt-suggestion {
     padding: 3px 20px;
     font-size: 14px;
     line-height: 24px;
 }

 .tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
     color: #fff;
     background-color: #0097cf;

 }

 .tt-suggestion p {
     margin: 0;
 }

 .form-control{
   width: 300px;
 }

 .btn-primary {
   background-color: black;
   border: 0px;
 }

.pagination {
  background: white;
  cursor: default;
/* self-clearing method: */
}

.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}

.pagination .disabled {
color: #999999;
border: 1px solid #dddddd;
}

.pagination .current {
font-style: normal;
font-weight: bold;
background: #2e6ab1;
color: white;
border: 1px solid #2e6ab1;
}

.pagination a {
text-decoration: none;
color: #105cb6;
border: 1px solid #9aafe5;
}
.pagination a:hover, .pagination a:focus {
color: #000033;
border-color: #000033;
}

.pagination .page_info {
background: #2e6ab1;
color: white;
padding: 0.4em 0.6em;
width: 22em;
margin-bottom: 0.3em;
text-align: center;
}

.pagination .page_info b {
color: #000033;
background: #6aa6ed;
padding: 0.1em 0.25em;
}

.pagination:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

* html .pagination {
height: 1%;
}

*:first-child + html .pagination {
overflow: hidden;
}
